body {
	background-color: black;
}

.infoImage {
	color: white;
	text-align: center;
	vertical-align: center;
	padding-top: 70px;
}

h5 {
	font-family: ‘Oxygen’, Helvetica, Arial, sans-serif;
	font-weight: 300;
}